streamlit==1.40.1
torchaudio==2.4.1
openpyxl==3.1.5
pillow==10.4.0
langchain-community==0.2.19
langchain-core==0.2.43
chromadb==0.5.3
deepl==1.21.0
easydict==1.13
gTTS==2.5.4
beautifulsoup4==4.12.3
requests==2.32.3
transformers==4.33.2
